h1{
	color: #FFFFFF;
	font-size: 30px;
	font-family: Roboto;
	text-align: center;
}

h2{
	color: #BF5ECC ;
	font-size: 20px;
	font-family: Helvetica;
}

h3{
	color: #FEFEFB;
	font-size: 22px;
	font-family: Luminari;
	text-align: center;
}

p{
	font-size: 22px;
	font-family: Lato;
	color: #FFFFFF;
}

ul{
	color: black;
	font-size: 18px;
	font-family: Roboto;
}

ol{
	color: black;
	font-size: 18px;
	font-family: Roboto;
}

li{
	color: #BF5ECC;
}

img{
	width: 500px
	height: 500px;
	border-radius: 50%;
}

a{
	color: #FFFFFF;
	font-size: 18px;
	font-family: Camphor;
	text-decoration: none;
}

i{
	color: #FFFFFF;
}

body{
	letter-spacing: 1px;
	line-height: 1;
	text-align: justify;
	font-weight: normal;
	background-color: #C9C9C9;
}

div{
	width: 1000px;
	padding: 80px;
	border: 15px;
	margin: 15px auto; 
	background-color:rgba(232, 207, 254,0,1);
}

.shadowbox{ 
	width: 800px;
	padding: 80px;
	border: 15px;
	margin: 15px; 
	box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.1);
	background-color:rgba(255, 255, 255, 0.05);
}

.card-black{
	background-color:;
	width: 1000px;
	margin: auto;
}

.container{
	width: 1400px;
	margin: 0px auto;
}


@media (max-width: 960px){
	.container{
		width: 700px;}
}

@media (max-width: 720px){
	.container{
		width: 500px;}
}

@media (max-width: 540px){
	.container{
		width: 300px;}
}


